{% extends 'back_layout.html.twig' %}

{% block title %}Nouveau éditeur{% endblock %}

{% block content %}
    <h1>Nouveau éditeur</h1>

    {{ include('editor/_form.html.twig') }}

    <a href="{{ path('app_editor_index') }}">Annuler</a>
{% endblock %}