{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('back') }}
{% endblock %}

{% block body %}
    <div id="admin">
        {% block content %}{% endblock %}
    </div>    
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('back') }}
{% endblock %}