{% extends 'base.html.twig' %}

{% block body %}
    <header id="main-header">
        <div class="display-6">Pixel</div>
    </header>

    <div id="app">
        {% block content %}{% endblock %}
    </div>
{% endblock %}